body {
    background-color: #fefefe;
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif;
}

* {
    outline: none;
  }

.container {
    max-width: 1200px;
    margin: 0 auto;
}


ul.flex-center {
    display: flex;
    justify-content: center;
    list-style: none;
}

ul.flex-center > li {
    padding: 20px 10px;
}

button.nav-link {
    border: 2px solid #222;
    font-size: .7em;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #fff;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
}

button.nav-link:hover {
    border: 2px solid #222;
    background-color: #222;
    cursor: pointer;
    transition: .1s ease-in;
    color: #fff;
}

.repo_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.single_repo {
    border: 3px solid #222;
    margin: 1% 1%;
    flex: 1 0 41%;
}

.single_repo--heading {
    margin: 5px 10px;
    letter-spacing: .2px;
    font-weight: 100;
    font-size: 1.2em;
}
.single_repo--container {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.single_repo--image {
    width: 100px;
    height: 100px;
}

.single_repo--link {
    margin: 0px 10px;
}
.single_repo--link a{
    text-decoration: none;
    font-weight: 100;
    color: #9240d8;
}

.single_repo--repoInfo {
    margin-left: 15px;
}